extends ../template
block content
  header
    .container
      .row
        .col-md-4
          a(href="#") LOGO
        .col-md-8
          nav
            ul
              li.link-anchor
                a(href="#") About
              li.link-anchor
                a(href="#") work
              li.link-anchor
                a(href="#") portfolio
              li.link-anchor
                a(href="#") contacts
              li.link-social.tw
                a(href="#")
              li.link-social.fb
                a(href="#")