extends ../template
include ../layout/header
include ../layout/section-webinar-info
include ../layout/footer
block content
  +header
  main
    +webinar
  +footer
  //- .preView
  //-   img(src="../../img/logo-header.png")
