extends ../template
include ../layout/header
include ../layout/section-webinar-info
include ../layout/section-seminare-and-map
include ../layout/section-form-and-map
include ../layout/section-about
include ../layout/section-charts
include ../layout/section-state-list
include ../layout/section-new-properties
include ../layout/section-user
include ../layout/section-provision
include ../layout/section-agents
include ../layout/section-client-reviews
include ../layout/footer

block content
  +header
  main
    +webinar
    +map
    +formmap
    +about
    +charts
    +state-list
    +new-properties
    +user
    +provision
    +agents
    +client-reviews
  +footer
  //- .preView
  //-   img(src="../../img/logo-header.png")
