mixin scripts(data)
  script(src="js/libs.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
  script(src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels")
  script(src="js/custom.js")
  
  