mixin footer()
  footer.footer
    .footer__top
      .container
        .row
          .col-md-4
            .footer__top__item
              .footer__top__item__title
                h3  Lorem, ipsum.
              .footer__top__item__text
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis animi, nisi reprehenderit provident, ea commodi dicta accusantium obcaecati a quisquam quae error minima illum nulla? Maxime eos cumque velit non.
              .footer__top__item__logo
                a(href="#")
                  img(src="../../img/logo.svg", alt="logo")
          .col-md-4
            .footer__top__item
              .footer__top__item__title
                h3  Lorem, ipsum.
              .footer__top__item__post
                p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                span July 7,2016 
              .footer__top__item__post
                p Lorem ipsum dolor sit amet consectetur adipisicing elit.
                span July 7,2016 
          .col-md-4
            .footer__top__item
              .footer__top__item__title
                h3  Lorem, ipsum.
              .footer__top__item__text
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              .footer__top__item__input
                input(type="text")
                button.button.blue
                  span Get
              .footer__top__item__social.social
                a.social__link.social(href="#")
                  img(src="img/icon/facebook-logo.svg", alt="facebook")
                a.social__link.social(href="#")
                  img(src="img/icon/twitter-logo-silhouette.svg", alt="facebook")
                a.social__link.social(href="#")
                  img.google(src="img/icon/google-plus.svg", alt="facebook")
    .footer__bottom