mixin auto()
  section#auto.auto
    .container
      .row
        .col-12
          .section-title
            h2 Auto 1000 - Steigen Sie bei uns ein!
        .col-12
          .section-text
            img(src="img/ferrari.png", alt="ferrari")
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatum magnam consectetur, explicabo, nulla laborum dolor placeat omnis perspiciatis assumenda magni harum enim non minus rerum exercitationem est corporis cupiditate?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatum magnam consectetur, explicabo, nulla laborum dolor placeat omnis perspiciatis assumenda magni harum enim non minus rerum exercitationem est corporis cupiditate?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatum magnam consectetur, explicabo, nulla laborum dolor placeat omnis perspiciatis assumenda magni harum enim non minus rerum exercitationem est corporis cupiditate?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatum magnam consectetur, explicabo, nulla laborum dolor placeat omnis perspiciatis assumenda magni harum enim non minus rerum exercitationem est corporis cupiditate?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure voluptatum magnam consectetur, explicabo, nulla laborum dolor placeat omnis perspiciatis assumenda magni harum enim non minus rerum exercitationem est corporis cupiditate?
        .col-12
          .section-title
            h2 Auto 1000 - Steigen Sie bei uns ein!
        .col-12
          .links-line
            ul
              li
                a(href="#") Neuwagen ab 110 Euro/Monat
              li
                a(href="#") Kein Vertrag
              li
                a(href="#") Keine Schufa-Abfrage
              li
                a(href="#") Keine Kilometerbegrenzung
              li
                a(href="#") Inkl. KFZ-Versicherung
              li
                a(href="#") Inkl. Inspektion
              li
                a(href="#") Bis zu 5 eingetragene Fahrer