mixin about()
  section#about.about
    .container
      .row
        .col-12.col-sm-6.col-lg-3
          .item-about
            .item-about__img
              img(src="../../img/section4-houses.svg", alt="house-icon")
            p Über 500 Wohneinheiten Über 100000000 finanziert 
              span jährlich
        .col-12.col-sm-6.col-lg-3
          .item-about
            .item-about__img
              img(src="../../img/section4-man-hand.svg", alt="hand-icon")
            p Über 30 000 Kunden

        .col-12.col-sm-6.col-lg-3
          .item-about
            .item-about__img
              img(src="../../img/section4-people.svg", alt="people-icon")
            p Über 800 Mitarbeiter

        .col-12.col-sm-6.col-lg-3
          .item-about
            .item-about__img
              img(src="../../img/section4-pig.svg", alt="pig-icon")
            p Über 30000000 durch klein Investoren