mixin webinar()
  section.webinar-info
    .container
      .webinar-info__left
        .webinar-info__left__text
          h2 Lorem ipsum dolor 
            span sit amet
          p Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .webinar-info__left__icons
          a.item(href="#")
            .item__img
              img(src="img/icon/section2-man.svg", alt="")
            h3 Investoren
          a.item(href="#")
            .item__img
              img(src="img/icon/section2-house.svg", alt="")
            h3 Immobilien
          a.item(href="#")
            .item__img
              img(src="img/icon/section2-runup.svg", alt="")
            h3 Karriere
        a.button.transparent(href="#")
          span Weitere 
      .webinar-info__right
        .webinar-info__right__text      
          h2 Webinar 
            span info
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit In voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .webinar-info__right__icons
            a.item(href="#")
              .item__img
                img(src="../../img/icon/section2-skype.svg", alt="")
              h3 immosparer
            a.item(href="#")
              .item__img
                img(src="../../img/icon/section2-phone.svg", alt="")
              h3 immosparer            
        .webinar-info__right__buttons
          a.button.transparent(href="#")
            span Seminare vor Ort 
          a.button.transparent(href="#")
            span WEBINAR MEHR INFO... 
        