mixin provision()
  section#provision.provision
    .provision__left.object-fit-simulation
      img(src="img/bg/section5-left-img.png", alt="work-space")
    .provision__right
      .provision__right__title
        h2 Lorem, ipsum.
      .provision__right__item
        .provision__right__item__img
          img(src="img/icon/section6-money.svg", alt="")
        .provision__right__item__text
          h3 Lorem, ipsum dolor.
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit.
      .provision__right__item
        .provision__right__item__img
          img(src="img/icon/section6-money-hand.svg", alt="")
        .provision__right__item__text
          h3 Lorem, ipsum dolor.
          p Lorem ipsum dolor sit, amet consectetur adipisicing elit.

