mixin new-properties()
  section#new-properties.new-properties
    .section-title
      h2 Newest Properties
    .container
      .row
        .col-12.col-md-6.col-lg-4
          .new-properties__item
            .new-properties__item__img
              button.new-properties__item__img__more.button
                span mehr info
              img(src="img/bg/header-bg.jpg", alt="street")
              button.new-properties__item__img__title.button
                span ab 100 Euro Monatlich zu 7%
            .new-properties__item__info
              .new-properties__icon 
                img(src="img/icon/square.svg", alt="square")
                span 232.00 ft
                  sup 2
              .new-properties__icon
                img(src="img/icon/bed.svg", alt="bed")
                span 3
              .new-properties__icon
                img(src="img/icon/shower.svg", alt="shower")
                span 4
            .new-properties__item__text
              h3 Small cottage in Upper New York
              span  $ 1,342.00
              p Das Genussrechtskapital wurde überwiegend in Immobilien investiert, die entweder vermietet oder verkauft wurden. Die Erlöse daraus kamen den Anlegern in Form.
            .new-properties__item__location
              .new-properties__icon
                img(src="img/icon/marker.svg", alt="marker")
                span 218 Front Street, Brooklyn, NY 11201, USA
            .new-properties__item__button
              .button.blue
                span read more
        .col-12.col-md-6.col-lg-4
          .new-properties__item
            .new-properties__item__img
              button.new-properties__item__img__more.button
                span mehr info
              img(src="img/bg/header-bg.jpg", alt="street")
              button.new-properties__item__img__title.button
                span ab 100 Euro Monatlich zu 7%
            .new-properties__item__info
              .new-properties__icon 
                img(src="img/icon/square.svg", alt="square")
                span 232.00 ft
                  sup 2
              .new-properties__icon
                img(src="img/icon/bed.svg", alt="bed")
                span 3
              .new-properties__icon
                img(src="img/icon/shower.svg", alt="shower")
                span 4
            .new-properties__item__text
              h3 Small cottage in Upper New York Small cottage in Upper New York Small cottage in Upper New York
              span  $ 1,342.00
              p Das Genussrechtskapital wurde überwiegend in Immobilien investiert, die entweder vermietet oder verkauft wurden. Die Erlöse daraus kamen den Anlegern in Form.
            .new-properties__item__location
              .new-properties__icon
                img(src="img/icon/marker.svg", alt="marker")
                span 218 Front Street, Brooklyn, NY 11201, USA
            .new-properties__item__button
              .button.blue
                span read more
        .col-12.col-md-6.col-lg-4
          .new-properties__item
            .new-properties__item__img
              button.new-properties__item__img__more.button
                span mehr info
              img(src="img/bg/header-bg.jpg", alt="street")
              button.new-properties__item__img__title.button
                span ab 100 Euro Monatlich zu 7%
            .new-properties__item__info
              .new-properties__icon 
                img(src="img/icon/square.svg", alt="square")
                span 232.00 ft
                  sup 2
              .new-properties__icon
                img(src="img/icon/bed.svg", alt="bed")
                span 3
              .new-properties__icon
                img(src="img/icon/shower.svg", alt="shower")
                span 4
            .new-properties__item__text
              h3 Small cottage in Upper New York
              span  $ 1,342.00
              p Das Genussrechtskapital wurde 
            .new-properties__item__location
              .new-properties__icon
                img(src="img/icon/marker.svg", alt="marker")
                span 218 Front Street, Brooklyn, NY 11201, USA 218 Front Street, Brooklyn, NY 11201, USA 218 Front Street, Brooklyn, NY 11201, USA 218 Front Street, Brooklyn, NY 11201, USA 218 Front Street, Brooklyn, NY 11201, USA
            .new-properties__item__button
              .button.blue
                span read more