mixin idea-blog()
  //- span.icon-dropdown
  section#idea-blog.idea-blog
    .container
      .row
        .col-12
          .section-title
            h2 Ideen Blog
        .col-12
          .idea-blog-content
            .idea-blog-content-item
              .idea-blog-content-item-img
                img(src="../../img/agents-photo1.jpeg", alt="image")
              .idea-blog-content-item-text
                h2 Заголовок
                p Lorem ipsum dolor sit amet, consectetur
                  |adipiscing elit, sed do eiusmod tempor incididunt
                  |ut labore et dolore magna aliqua. Ut enim ad
                  |minim veniam, quis nostrud exercitation...
                a(href="#") More
            .idea-blog-content-item
              .idea-blog-content-item-img
                img(src="../../img/agents-photo1.jpeg", alt="image")
              .idea-blog-content-item-text
                h2 Заголовок
                p Lorem ipsum dolor sit amet, consectetur
                  |adipiscing elit, sed do eiusmod tempor incididunt
                  |ut labore et dolore magna aliqua. Ut enim ad
                  |minim veniam, quis nostrud exercitation...
                a(href="#") More
            .idea-blog-content-item
              .idea-blog-content-item-img
                img(src="../../img/agents-photo1.jpeg", alt="image")
              .idea-blog-content-item-text
                h2 Заголовок
                p Lorem ipsum dolor sit amet, consectetur
                  |adipiscing elit, sed do eiusmod tempor incididunt
                  |ut labore et dolore magna aliqua. Ut enim ad
                  |minim veniam, quis nostrud exercitation...
                a(href="#") More

        
