mixin user()
  section#user.user
    .section-title
      h2 User
    .container
      .row.justify-content-md-center
        .col-lg-6
          .agents__item
            .agents__item__img
              img(src="../../img/agents-photo1.jpeg", alt="agent")
            .agents__item__text
              h3 Lusui Tip
              p Lorem ipsum dolor sit amet consectetur adipisicing elit.
              a.phone(href="tel:80023456789") 800-2345-6789
              a.phone(href="tel:80023456789") 800-2345-6789
              .social
                a.social__link(href="#")
                  img(src="../../img/icon/facebook-logo-white.svg", alt="facebook")
                a.social__link(href="#")
                  img(src="../../img/icon/twitter-logo-white.svg", alt="twitter")
                a.social__link(href="#")
                  img(src="../../img/icon/google-plus-white.svg", alt="google-plus")
