mixin state-list()
  section#state-list.state-list
    .section-title
      h2 States
    .container
      .row
        .col-12.col-sm-6.col-md-3
          ul
            li
              a(href="#") Hamburg
            li
              a(href="#") Hamburg
            li
              a(href="#") Hamburg
            li
              a(href="#") Hamburg
        .col-12.col-sm-6.col-md-3
          ul
            li
              a(href="#") Hamburg
            li
              a(href="#") Hamburg
            li
              a(href="#") Hamburg
            li
              a(href="#") Hamburg
        .col-12.col-sm-6.col-md-3
          ul
            li
              a(href="#") Hamburg
            li
              a(href="#") Hamburg
            li
              a(href="#") Hamburg
            li
              a(href="#") Hamburg
        .col-12.col-sm-6.col-md-3
          ul
            li
              a(href="#") Hamburg
            li
              a(href="#") Hamburg
            li
              a(href="#") Hamburg
            li
              a(href="#") Hamburg
