mixin charts()
  section#charts.charts
    .container
      .section-title
        h2 Prognoserechnung eines Anlegers
      .section-text.bold
        p bei einer Gewinnausschüttung in Höhe von sieben Prozent mit einer Laufzeit über 25 Jahre
      .section-text
        p Das Genussrechtskapital wurde überwiegend in Immobilien investiert, die entweder vermietet oder verkauft wurden. Die Erlöse daraus kamen den Anlegern in Form einer jährlichen Gewinnausschüttung in Höhe von sieben Prozent zu Gute. 
      .charts__block
        .charts__block__item.one
          //- canvas(id="myChartOne" width="400" height="400")
        .charts__block__item.two
          //- canvas(id="myChartTwo" width="400" height="400")
      .charts__buttons
        