*{
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
.row {
  &:after,
  &:before {
    display: none;
  }
}
a{
  &:hover,&:focus,&:active{
    text-decoration: none;
    color:inherit;
  }
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
p {
  font-size: 14px;
  margin: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
input{
  border: none;
  outline: none;
  &:active,&:hover,&:focus{
    outline: none;
  }
}
.social{
  img{
    width: 16px;
    &.google{
      width:24px;
    }
  }
}
.button {
  padding: 15px 55px;
  text-align: center;
  display: inline-block;
  span {
    font-size: 16px;
    font-family:$font-poppins-semibold;
    color:$color-white;
    line-height: 24px;
    text-transform: uppercase;
  }
  &.blue {
    background: $color-blue1;
  }
  &.red {
    background: $color-red;
    span {
      font-size: 20px;
    }
  }
  &.transparent {
    border:2px solid $color-white;
    background: transparent;
  }
}

// .preView{
//   position: absolute;
//   top:0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   animation:preViewAnim 3s ease-out;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: $color-white;
//   img{
//     width: 300px;
//   }
// }

// @keyframes preViewAnim{
//   0%{opacity: 1;}
//   99%{opacity: 0;}
//   100%{display: none;}
// }