*{
  box-sizing: border-box;
}
html{
  font-size: 16px;
}
body{
  // overflow: hidden;
}
.row {
  &:after,
  &:before {
    display: none;
  }
}
.static{
  position: static;
}
a{
  &:hover,&:focus,&:active{
    text-decoration: none;
    color:inherit;
  }
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
}
p {
  font-size: 14px;
  margin: 0;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
input{
  border: none;
  outline: none;
  &:active,&:hover,&:focus{
    outline: none;
  }
}
.social{
  img{
    width: 16px;
    &.google{
      width:24px;
    }
  }
}
button{
  &:active,&:hover,&:focus{
    outline: none;
  }
}
.button {
  padding: 15px 55px;
  text-align: center;
  display: inline-block;
  border:none;
  span {
    font-size: 16px;
    font-family:$font-poppins-semibold;
    color:$color-white;
    line-height: 24px;
    text-transform: uppercase;
  }
  &.blue {
    background: $color-blue1;
  }
  &.red {
    background: $color-red;
    span {
      font-size: 20px;
    }
  }
  &.transparent {
    border:2px solid $color-white;
    background: transparent;
  }
  &:active,&:hover,&:focus{
    outline: none;
  }
}
.search-item{
  width: 100%;
  position: relative;
  input{
    width: 100%;
    height: 50px;
    padding-left: 15px;
    font-size: 16px;
    color:$color-dark-blue;
    font-family: $font-poppins-regular;
  }
  &:before{
    position: absolute;
    right:15px;
    top:50%;
    transform: translateY(-50%);
    content:"";
    height: 30px;
    width:30px;
    background: url('../img/icon/lens-header.svg') no-repeat center / cover;
  }
}
.simplebar-scrollbar:before{
  background: $color-blue1;
}
.section-title{
  text-align: center;
  h2{
    @include text(30px, $color-white,$font-poppins-medium,36px);
  }
}
// .preView{
//   position: absolute;
//   top:0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   animation:preViewAnim 3s ease-out;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   background: $color-white;
//   img{
//     width: 300px;
//   }
// }

// @keyframes preViewAnim{
//   0%{opacity: 1;}
//   99%{opacity: 0;}
//   100%{display: none;}
// }