.header{
  position: fixed;
  z-index: 5;
  width: 100%;
  background: $color-white;
  &__top{
    padding: 10px 0;
    border-bottom: 1px solid $color-grey-light;
    .row{
      display: flex;
    }
    .log-or-reg{
      p{
        @include text(14px,$color-grey2,$font-poppins-regular,18px)
      }
    }
    .social{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &__link{
        display: block;
        margin-left: 15px;
      }
    }
  }
  &__mid{
    padding: 20px 0px;
    @include mqmax($size-md){
      padding: 10px 0px;
    }
    &__logo{
      display: block;
      width: 109px;
      @include mqmax($size-md){
        margin: 0 auto;
        width: 85px;
      }
      img{
        width:100%;
      }
    }
    &__contacts{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      p{
        font-family: $font-poppins-medium;
        font-size: 16px;
        color:$color-grey2;
        line-height: 22px;
      }
      &__phones{
        display: flex;
        a{
          font-size: 24px;
          color:$color-dark-blue;
          font-family: $font-poppins-semibold;
          display: flex;
          align-items: center;
          line-height: 30px;
          margin-right: 20px;
          &:last-of-type{
            margin-right: 0px;
          }
          &:before{
            content:"";
            margin-right: 10px;
            width: 24px;
            height: 24px;
            display: block;
            background: url('../img/icon/call-blue.svg') no-repeat center / cover;
          }
          &.whatsapp{   
            &:before{
              width: 30px;
              height: 30px;
              background: url('../img/icon/section2-phone.svg') no-repeat center / cover;
            }
          }
        }
      }
    }
  }
  &__bottom{
    background: $color-blue1;
    position: relative;
    .row{
      align-items: center;
    }
    .menu-button{
      display: block;
      .hamburger-inner{
        background-color: $color-white;
        &:after,&:before{
          background-color: inherit;
        }
      }
    }

    &__nav{
      &__mobile{ //@include mqmax($size-md)
        padding: 15px;
        width: 100vw;
        position: absolute;
        bottom:0px;
        left: 0;
        transform: translateY(100%) translateX(-100%);
        margin-left: inherit;
        margin-right: inherit;
        transition: .8s;
        background-color: $color-blue1;
        &.active{
          transform: translateY(100%) translateX(0%);
        }
        ul{
          margin-bottom: 15px;
          display: block;
          width: auto;
          a{
            border-radius: 0;
            font-family: $font-poppins-semibold;
            font-size: 16px;
            text-transform: uppercase;
            color:$color-white;
            display: flex;
            align-items: center;
            line-height: 22px;
            padding: 0px;
            margin-bottom: 10px;
            border-left: 3px solid transparent;
            padding-left: 10px;
            &.active,&:hover{
              border-bottom: none;
              border-left-color: $color-dark-blue;
            }
          }
        }
        .log-or-reg{
          p{
            @include text(14px,$color-black,$font-poppins-regular,18px);
            a{
              color:$color-white;
            }
          }
        }
        .header__mid__contacts__phones{
          display: flex;
          flex-direction: column;
          a{
            font-size: 24px;
            color:$color-dark-blue;
            font-family: $font-poppins-semibold;
            display: flex;
            align-items: center;
            line-height: 30px;
            margin-right: 20px;
            margin-bottom: 15px;
            &:last-of-type{
              margin-right: 0px;
            }
            &:before{
              content:"";
              margin-right: 10px;
              width: 24px;
              height: 24px;
              display: block;
              background: url('../img/icon/call-white.svg') no-repeat center / cover;
            }
            &.whatsapp{   
              &:before{
                background: url('../img/icon/section2-phone-white.svg') no-repeat center / cover;
              }
            }
          }
        }
      }
      ul{
        width: 100%;
        display: flex;
        justify-content: center;
        @include mqmax($size-md){
          // padding: 15px;
          // display: block;
          // width: auto;
        }
        .navigation-link{
          &.dropdown{
            button{
              background: transparent;
              // padding: 30px 0 25px 30px;
              border:none;
              &:focus{
                box-shadow: none;
              }
              &:after{
                margin-left: 10px;
                content:">";
                display: block;
                font-size: 20px;
                transform: rotate(90deg);
                transform-origin: center;
                vertical-align: 0;
                border-top: none;
                border-right: none;
                border-bottom: 0;
                border-left: none;
              }
            }
          }
          a,button{
            border-radius: 0;
            font-family: $font-poppins-semibold;
            font-size: 16px;
            text-transform: uppercase;
            color:$color-white;
            display: flex;
            align-items: center;
            line-height: 22px;
            padding: 20px 15px 14px;
            border-bottom: 5px solid transparent;
            // @include mqmax($size-lg){
            //   padding: 30px 0px 25px 0px;
            // }
            @include mqmax($size-md){
              padding: 0px;
              margin-bottom: 10px;
              border-bottom: none;
              border-left: 3px solid transparent;
              padding-left: 10px;
              &.active,&:hover{
                border-bottom: none;
                border-left-color: $color-dark-blue;
              }
            }
            &.active,&:hover{
              border-color: $color-dark-blue;
              background: transparent;
            }
          }
          .dropdown-menu{
            border-radius: 0;
            border:none;
            background-color: $color-blue1;
            a{
              padding: 20px 30px;
            }
          }
        }
      }
    }
    &__search{
      display: none;
      @include mqmax($size-md){
        padding: 15px 0px;
      }
    }
  }
}