.agents{
  background: $color-blue1;
  padding: 75px 85px 90px;
  @include mqmax($size-lg){
    padding: 55px 0px 70px;
  }
  .section-title{
    margin-bottom: 35px;
  }
  &__item{  
    display: flex;
    @include mqmax($size-md){
      margin-bottom: 30px;
    }
    @include mqmax($size-sm){
      flex-direction: column;
      align-items: center;
    }
    &__img{
      @include mqmax($size-sm){
        margin-bottom: 15px;
      }
      img{
        width: 260px;
        height: 260px;
        @include mqmax($size-lg){
          width: 200px;
          height: 200px;
        }
      }
    }
    &__text{
      padding: 5px 25px 25px 25px;
      @include mqmax($size-sm){
       text-align: center;
      }
      h3{
        @include text(20px, $color-white,$font-poppins-semibold,24px);
        margin-bottom: 15px;
      }
      p{
        @include text(16px, $color-white,$font-poppins-regular,22px);
        margin-bottom: 25px;
        @include mqmax($size-md){
          font-size: 14px;
        }
      }
      .phone{
        @include text(16px, $color-white,$font-poppins-semibold,20px);
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &:before{
          content:"";
          margin-right: 10px;
          width: 24px;
          height: 24px;
          display: block;
          background: url('../img/icon/call-white.svg') no-repeat center / cover;
        }
      }
      .social{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 25px;
        &__link{

          display: block;
          margin-right: 20px;
          img{
            width: 22px;
          }
        }
      }
    }
  }
}