.provision{
  display: flex;
  &__left{
    width: 50%;
    @include mqmax($size-md){
      display: none;
    }
    img{
      width: 100%;
      // height: 100%;
      object-fit: cover;
    }
  }
  &__right{
    width: 50%;
    padding: 120px 80px;
    background: $color-dark-blue3;
    @include mqmax($size-md){
      width: 100%;
    }
    @include mqmax($size-sm){
      padding: 30px 15px;
    }
    h2{
      @include text(30px,$color-white,$font-poppins-medium,40px);
      margin-bottom: 35px;
      @include mqmax($size-sm){
        text-align: center;
      }
    }
    &__item{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      @include mqmax($size-sm){
        flex-direction: column;
      }
      &__img{
        @include iconCircle(96px, 2px);
        margin-right: 20px;
        flex-shrink: 0;
        @include mqmax($size-sm){
          margin-right:0px;
          margin-bottom: 15px;
        }
      }
      &__text{
       
        h3{
          @include text(20px,$color-white,$font-poppins-regular,24px);
          margin-bottom: 15px;
          @include mqmax($size-md){
            font-size: 18px;
          }
          @include mqmax($size-sm){
            text-align: center;
          }
        }
        p{
          @include text(16px,$color-grey1,$font-poppins-regular,24px);
          @include mqmax($size-md){
            font-size: 14px;
          }
          @include mqmax($size-sm){
            text-align: center;
          }
        }
      }
    }
  }
}