$color-white:#ffffff;
$color-blue1: rgb(68, 172, 215);
$color-blue2:#00afff;
$color-blue3:rgb(165, 210, 237);
$color-black:#292929;
$color-red:#ec4545;
$color-grey1:#889298;
$color-grey2:#7c7c7c;
$color-dark-blue:rgba(10, 25, 35, .9);

$font-poppins-light:'Poppins-Light', sans-serif;
$font-poppins-regular:'Poppins-Regular', sans-serif;
$font-poppins-medium:'Poppins-Medium', sans-serif;
$font-poppins-semibold:'Poppins-SemiBold', sans-serif;