$color-white:#ffffff;
$color-blue1: #44acd7;
$color-blue2:#00afff;
$color-blue3:#a5d2ed;
$color-black:#292929;
$color-red:#ec4545;
$color-grey1:#889298;
$color-grey2:#7c7c7c;
$color-grey3:#616161;
$color-grey-light:#ced3d6;
$color-dark-blue:rgba(10, 25, 35, .9);
$color-dark-blue2:#0a1923;
$color-dark-blue3:rgb(3, 18, 30);
$color-dark-blue-border:rgb(28, 44, 54);

$font-poppins-light:'Poppins-Light', sans-serif;
$font-poppins-regular:'Poppins-Regular', sans-serif;
$font-poppins-medium:'Poppins-Medium', sans-serif;
$font-poppins-semibold:'Poppins-SemiBold', sans-serif;