$font-open-sans: 'Open Sans', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-indie-flower: 'Indie Flower', cursive;

$color-pink-1: #fa5c65;
$color-pink-2: #f0454c;

$color-grey: #9aa0ab;
$color-grey-footer: #b9c1c6;

$color-blue-black: #465065;
$color-blue-black-header:#314a5b;
$color-blue-black-nav: #263642;
$color-white: #ffffff;