mixin bottom()
  .header__bottom
    .container
      .row
        .col-md-8
          nav.header__bottom__nav
            ul
              li
                a(href="#") Home
              li
                a(href="#") Idx
              li
                a(href="#") Pages
              li
                a(href="#") Projects
              li
                a(href="#") Blog
              li
                a(href="#") Properties
                                                                                    