mixin bottom()
  .header__bottom
    .container
      .row
        .col-3.col-md-8.static
          button.menu-button.d-lg-none.hamburger.hamburger--arrow(type="button")
            span.hamburger-box
              span.hamburger-inner
          nav.header__bottom__nav__mobile.d-lg-none
            ul
            //- .header__bottom__nav__phones
            //- .header__bottom__nav__social
            //- .header__bottom__nav__log-or-reg
          nav.header__bottom__nav.d-none.d-lg-block
            ul
              li.navigation-link
                a.active(href="#") Home
              li.navigation-link
                a(href="#") Idx
              li.navigation-link
                a(href="#") Pages
              li.navigation-link
                a(href="#") Projects
              li.navigation-link
                a(href="#") Blog
              li.navigation-link
                a(href="#") Properties
              li.navigation-link.dropdown
                button#dropdownMenuButton.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  | Dropdown button
                .dropdown-menu(aria-labelledby='dropdownMenuButton')
                  a.dropdown-item(href='#') Action
                  a.dropdown-item(href='#') Another action
                  a.dropdown-item(href='#') Something else here
        .col-9.col-md-4
          .header__bottom__search.search-item
            input(type="text")
                                                                                    