mixin bottom()
  .header__bottom
    .container
      .row
        .col-md-8.static
          button.menu-button.d-lg-none.hamburger.hamburger--arrow(type="button")
            span.hamburger-box
              span.hamburger-inner
          nav.header__bottom__nav.d-lg-block
            ul
              li
                a.active(href="#") Home
              li
                a(href="#") Idx
              li
                a(href="#") Pages
              li
                a(href="#") Projects
              li
                a(href="#") Blog
              li
                a(href="#") Properties
        .col-md-4
          .header__bottom__search.search-item
            input(type="text")
                                                                                    