mixin mid()
  .header__mid
    .container
      .row
        .col-md-4
          a.header__mid__logo(href="#")
            img(src="img/logo-header.png", alt="logo")
        .col-md-8
          .header__mid__contacts
            p Get in touch with us
            a(href="tel:80023456789") 800-2345-6789