mixin mid()
  .header__mid
    .container
      .row
        .col-md-4
          a.header__mid__logo(href="#")
            img(src="img/logo-header.png", alt="logo")
        .col-md-8
          .header__mid__contacts.d-none.d-lg-flex
            p Get in touch with us
            .header__mid__contacts__phones
              a.whatsapp(href="https://api.whatsapp.com/send?phone=+80023456789") 800-2345-6789
              a(href="tel:+80023456789") 800-2345-6789