mixin top()
  .header__top
    .container
      .row
        .col-6
          .log-or-reg
            p
              |Please 
              a(href="#") login 
              |or 
              a(href="#") register 
              |to create a new listing
        .col-6
          .social
            a.social__link.social(href="#")
              img(src="img/icon/facebook-logo.svg", alt="facebook")
            a.social__link.social(href="#")
              img(src="img/icon/twitter-logo-silhouette.svg", alt="facebook")
            a.social__link.social(href="#")
              img.google(src="img/icon/google-plus.svg", alt="facebook")